body{
    background-color:rgb(245, 236, 252);
}
h1{
    text-align: center;
}
header{
    display: flex;
    justify-content: center;
}
.form{
    margin: 20px;
}
img{
    height:270px;
}

.card{
 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

footer{
    display: flex;
    justify-content:center;
    margin-top: 5rem;
}

.container-fluid{
    background-color: rgb(245, 236, 252);
}
