<%- include('../partials/headAndNav') %>

<Form class="form" method="POST" action="/musicians/anything">
    <div>
        <label for="name">Enter the artist's name</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="image">Enter the url for the image</label>
        <input type="text" name="img" id="image">
    </div>
    <div>
        <label for="instrument">What instrument are they holding?</label>
        <input type="text" name="instrument" id="instrument">
    </div>
    <input type="submit" value="Submit new artist">
</Form>


<%- include('../partials/footer') %>
